<div class="container-fluid">
    <div class="row">
        <navbar></navbar>
    </div>
    <div class="row">
        <div class="col-sm-2 sidebar">
            <sidenavbar></sidenavbar>
        </div>
        <div class="col-sm-10 main col-sm-offset-2">
            <div class="row">
                <div class="col-sm-12">
                    <http-test></http-test>
                </div>
            <div class="row">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-3">
                            <courses></courses>
                        </div>
                        <div class="col-sm-3">
                            <authors></authors>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <courses></courses>
                        </div>
                        <div class="col-sm-3">
                            <authors></authors>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

